
forceHTTPPort=8024
domainName=jcommunity.local

[jcommunity]
;loginResponse = html
;verifyNickname = on
passwordChangeEnabled=on
;accountDestroyEnabled=on
;useJAuthDbAdminRights=off
registrationEnabled=on
resetPasswordEnabled=on
resetAdminPasswordEnabled=on
noRedirectionOnAuthenticatedLoginPage=off
;publicProperties[]=login
;publicProperties[]=nickname
;publicProperties[]=create_date
;disableJPref = on
;validationKeyTTL=1560
notificationReceiverEmail=
notificationReceiverName=
notifyAccountChange=off

[mailer]
webmasterEmail = laurent@jelix.org
